<h2><%= building.name %></h2>
<table aria-label="Building Summary" class="building-summary">
  <thead>
    <tr>
      <th scope="col">Suite Size</th>
      <th scope="col"># Suites</th>
      <th scope="col"># Suites Assigned</th>
      <% if policy(Suite).view_draw? %>
        <th scope="col"># Suites in Draws</th>
        <th scope="col"># Suites not in a Draw</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @suites_by_size[building.id].each do |size, suites| %>
      <tr>
        <th scope="row" data-role="suite-size"><%= headerize_size(size) %></th>
        <td data-role="suite-count"><%= suites.count %></td>
        <td data-role="assigned-count"><%= suites.select { |s| s.group.present? }.count %></td>
        <% if policy(Suite).view_draw? %>
          <td data-role="draws-count"><%= suites.select { |s| s.draws.present? }.count %></td>
          <td data-role="not-draw-count"><%= suites.select { |s| s.draws.empty? }.count %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'View', building_path(building), class: 'button secondary' if policy(building).show? %>
<%= link_to 'Edit', edit_building_path(building), class: 'button secondary' if policy(building).edit? %>
<%= link_to 'Delete', building_path(building), method: :delete, data: { confirm: 'Are you sure you want to delete this building?' }, class: 'button alert' if policy(building).destroy? %>
